body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::before
{
	content: '';
	display: block;
	height: 60px;
}
#child{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #212529;
    color: #fff;
}
#chil{
    margin-top: 10rem;
    width: 600px;
}
#child #left{
    margin-right: 4.9rem;
}
#left{
    padding-top: 12rem;
}
span{
    color: #ffc107;
    text-decoration: none;
}
#start{
    color: white;
    padding: 15px;
    background: #0d6efd;
    border: none;
    border-radius: 6px;
    float: left;
}
#start:hover{
    background-color: rgb(11, 92, 92);
}
#sign{
    padding: 40px;
}
#sign{
    background: #0d6efd;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#sign .for{
    color: white;
}
.signemail #email{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 38.5rem;
    height: 3.5rem;
    padding-left: 20px;
    border: none;
}
.signemail button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background: #212529;
    color: white;
    padding: 15px;
    padding-right: 30px;
    font-size: 18px;
}
#flex{
    display: flex;
    justify-content: center;
    text-align: center;
    background: #fff;
}
#flex .card{
    margin-top: 3.5rem;
    margin-left: 10px;
    margin-right: 10px;
    background: #212529;
    color: #fff;
    width: 25.5rem;
    padding-bottom: 1rem;
}
#flex .card.color{
    margin-top: 3.5rem;
    margin-left: 10px;
    margin-right: 10px;
    background: #727a82;
    color: #fff;
    width: 25.5rem;
    padding-bottom: 1rem;
}
#flex .card button{
    color: #fff;
    border: #0d6efd;
    background: #0d6efd;
    width: 100px;
    height: 45px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}
.size{
    font-size: 50px;
}
#fundamentals{
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: #fff;
}
.Learn img{
    width: 600px;
    height: 600px;
}
.lorem{
    margin-top: 12.8rem;
}
.lorem button:hover{
    background-color: #0d6efd;
}
.lorem button{
    border-radius: 5px;
    border: none;
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    padding: 10px;
}
#fundamental{
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: #fff;
    background-color: #212529;
}
.lore button:hover{
    background-color: #ffc107;
}
.lore button{
    border-radius: 5px;
    border: none;
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    padding: 10px;
}
.Lear img{
    width: 600px;
    height: 550px;
}
.lore{
    margin-top: 12.8rem;
}
.questions h1{
    margin-top: 40px;
    text-align: center;
}
.answer{
    margin: 1rem;
}
#instructors{
    color: #fff;
    background-color: #0d6efd;
    text-align: center;
}
.expert{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
h6{
    padding-top: 14px;
}
.text img{
    margin-top: 19px;
    border-radius: 70px;
}
.text{
    border-radius: 10px;
    background-color: #f8f9fa;
    width: 350px;
    height: 350px;
    color: #000;
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 20px;
}
.add{
    margin: 5px;
}
#contact h1{
    margin-top: 25px;
    text-align: center;
}
ul li code{
    color: #000;
}
ul{
    list-style-type: none;
}
#copy{
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
a i {
    font-size: 35px;
}
@media (max-width:1200px) {
    #chil{
        display: none;
    }
    #start:hover{
        background-color: rgb(45, 168, 168);
    }
    .lorem button:hover{
        background-color: #0d6efd;
    }
}
@media (max-width:1200px) {
    #start:hover{
        background-color: rgb(11, 92, 92);
    }
    #start{
        margin-bottom: 10px;
    }
    .lorem button:hover{
        background-color: #0d6efd;
    }
    
}
@media (max-width:600px) {
    #child #left #start{
    color: white;
    padding: 15px;
    background: #0d6efd;
    border: none;
    border-radius: 6px;
    width: 12.9rem;
    height: 3.5rem;

    }
    #start:hover{
        background-color: rgb(11, 92, 92);
    }
    #left {
        margin-left: 10px;
        margin-bottom: 10px
    }
    .lorem button:hover{
        background-color: #0d6efd;
    }
}
@media (max-width:1200px) {
    #sign{
        margin-top: 20px;
    }
    
}
@media (max-width:1200px) {
    #sign{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }
}
@media (max-width:800px) {
    .signemail #email{
        width: 25rem;
        height: 3.5rem;
    }

}
@media (max-width:600px) {
    .signemail #email{
        width: 12rem;
        height: 3.5rem;
    }
}
@media (max-width:1300px) {
    #flex{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}
@media (max-width:600px) {
    #flex .card{
        margin-top: 3.5rem;
        margin-left: 10px;
        margin-right: 10px;
        background: #212529;
        color: #fff;
        width: 19rem;
        padding-bottom: 1rem;
    }
    #flex .card.color{
        margin-top: 3.5rem;
        margin-left: 10px;
        margin-right: 10px;
        background: #727a82;
        color: #fff;
        width: 19rem;
        padding-bottom: 1rem;
    }
    
}
@media (max-width:1200px) {
    #fundamentals{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #fundamental{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
@media (max-width:800px) {
    #fundamentals .Learn img{
        margin-top: 80px;
        width: 400px;
        height: 200px;

    }
    #fundamentals .lorem{
        margin-left: 10px;
    }
    .lorem button{
        margin-bottom: 12px;
    }
    .lore button{
        margin-bottom: 12px;
    }
    #fundamental .Lear img{
        margin-top: 40px;
        width: 336px;
        height: 200px;
    }
    #fundamental .lore{
        margin-left: 10px;
    }
}
@media (max-width:400px) {
    .expert{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
    h6{
        padding-top: 14px;
    }
    .text img{
        margin-top: 19px;
        border-radius: 70px;
    }
    .text{
        border-radius: 10px;
        background-color: #f8f9fa;
        width: 300px;
        height: 350px;
        color: #000;
        margin-top: 10px;
        margin-left: 35px;
        margin-right: 35px;
        margin-bottom: 20px;
    }
    .add{
        margin: 5px;
    }
    
}
@media (max-width:1200px) {
    .expert{
        display: flex;
        flex-direction: column;
    }
}